<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SmplLogConfigurationSection" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <SmplLogConfigurationSection>
    <Appenders>
      <Appender Name='FileAppender' Type='SmplLog.Core.FileAppender'>
        <Params>
          <FilePath>/SmplLog-Test.txt</FilePath>
        </Params>
      </Appender>
    </Appenders>
    <Loggers>
      <Logger Id='MyTestLogger' Type='SmplLog.Core.Logger'>
        <AppenderRef Name='FileAppender' />
      </Logger>
    </Loggers>
  </SmplLogConfigurationSection>
  <appSettings>
    <add key='FileAppenderTestTempPath' value='12345' />
  </appSettings>
</configuration>